<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.ArrangementRepairMapper">
    
    <resultMap type="ArrangementRepair" id="ArrangementRepairResult">
        <result property="aId"    column="a_id"    />
        <result property="rId"    column="r_id"    />
        <result property="sequence"    column="sequence"    />
    </resultMap>

    <sql id="selectArrangementRepairVo">
        select a_id, r_id, sequence from tl_arrangement_repair
    </sql>

    <select id="selectArrangementRepairList" parameterType="ArrangementRepair" resultMap="ArrangementRepairResult">
        <include refid="selectArrangementRepairVo"/>
        <where>  
            <if test="aId != null "> and a_id = #{aId}</if>
            <if test="rId != null "> and r_id = #{rId}</if>
            <if test="sequence != null "> and sequence = #{sequence}</if>
        </where>
    </select>
    
    <select id="selectArrangementRepairByAId" parameterType="Long" resultMap="ArrangementRepairResult">
        <include refid="selectArrangementRepairVo"/>
        where a_id = #{aId}
    </select>
        
    <insert id="insertArrangementRepair" parameterType="ArrangementRepair">
        insert into tl_arrangement_repair
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="aId != null">a_id,</if>
            <if test="rId != null">r_id,</if>
            <if test="sequence != null">sequence,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="aId != null">#{aId},</if>
            <if test="rId != null">#{rId},</if>
            <if test="sequence != null">#{sequence},</if>
         </trim>
    </insert>

    <update id="updateArrangementRepair" parameterType="ArrangementRepair">
        update tl_arrangement_repair
        <trim prefix="SET" suffixOverrides=",">
            <if test="rId != null">r_id = #{rId},</if>
            <if test="sequence != null">sequence = #{sequence},</if>
        </trim>
        where a_id = #{aId}
    </update>

    <delete id="deleteArrangementRepairByAId" parameterType="Long">
        delete from tl_arrangement_repair where a_id = #{aId}
    </delete>

    <delete id="deleteArrangementRepairByAIds" parameterType="String">
        delete from tl_arrangement_repair where a_id in 
        <foreach item="aId" collection="array" open="(" separator="," close=")">
            #{aId}
        </foreach>
    </delete>
</mapper>