<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.ArrangementBoatMapper">
    
    <resultMap type="ArrangementBoat" id="ArrangementBoatResult">
        <result property="aId"    column="a_id"    />
        <result property="bId"    column="b_id"    />
    </resultMap>

    <sql id="selectArrangementBoatVo">
        select a_id, b_id from tl_arrangement_boat
    </sql>

    <select id="selectArrangementBoatList" parameterType="ArrangementBoat" resultMap="ArrangementBoatResult">
        <include refid="selectArrangementBoatVo"/>
        <where>  
        </where>
    </select>
    
    <select id="selectArrangementBoatByAId" parameterType="Long" resultMap="ArrangementBoatResult">
        <include refid="selectArrangementBoatVo"/>
        where a_id = #{aId}
    </select>
        
    <insert id="insertArrangementBoat" parameterType="ArrangementBoat">
        insert into tl_arrangement_boat
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="aId != null">a_id,</if>
            <if test="bId != null">b_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="aId != null">#{aId},</if>
            <if test="bId != null">#{bId},</if>
         </trim>
    </insert>

    <update id="updateArrangementBoat" parameterType="ArrangementBoat">
        update tl_arrangement_boat
        <trim prefix="SET" suffixOverrides=",">
            <if test="bId != null">b_id = #{bId},</if>
        </trim>
        where a_id = #{aId}
    </update>

    <delete id="deleteArrangementBoatByAId" parameterType="Long">
        delete from tl_arrangement_boat where a_id = #{aId}
    </delete>

    <delete id="deleteArrangementBoatByAIds" parameterType="String">
        delete from tl_arrangement_boat where a_id in 
        <foreach item="aId" collection="array" open="(" separator="," close=")">
            #{aId}
        </foreach>
    </delete>
</mapper>