<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.BoatMapper">
    
    <resultMap type="Boat" id="BoatResult">
        <result property="bId"    column="b_id"    />
        <result property="bModel"    column="b_model"    />
        <result property="bSpeed"    column="b_speed"    />
        <result property="bCapacity"    column="b_capacity"    />
        <result property="bWindSpeed"    column="b_wind_speed"    />
        <result property="bWaveHeight"    column="b_wave_height"    />
        <result property="bAnnualCost"    column="b_annual_cost"    />
        <result property="bHourCost"    column="b_hour_cost"    />
        <result property="bType"    column="b_type"    />
        <result property="bLongitude"    column="b_longitude"    />
        <result property="bLatitude"    column="b_latitude"    />
    </resultMap>

    <sql id="selectBoatVo">
        select b_id, b_model, b_speed, b_capacity, b_wind_speed, b_wave_height, b_annual_cost, b_hour_cost, b_type, b_longitude, b_latitude from tl_boat
    </sql>

    <select id="selectBoatList" parameterType="Boat" resultMap="BoatResult">
        <include refid="selectBoatVo"/>
        <where>  
            <if test="bModel != null  and bModel != ''"> and b_model = #{bModel}</if>
            <if test="bSpeed != null  and bSpeed != ''"> and b_speed = #{bSpeed}</if>
            <if test="bCapacity != null  and bCapacity != ''"> and b_capacity = #{bCapacity}</if>
            <if test="bType != null "> and b_type = #{bType}</if>
            <if test="bLongitude != null  and bLongitude != ''"> and b_longitude = #{bLongitude}</if>
            <if test="bLatitude != null  and bLatitude != ''"> and b_latitude = #{bLatitude}</if>
        </where>
    </select>
    
    <select id="selectBoatByBId" parameterType="Long" resultMap="BoatResult">
        <include refid="selectBoatVo"/>
        where b_id = #{bId}
    </select>
        
    <insert id="insertBoat" parameterType="Boat" useGeneratedKeys="true" keyProperty="bId">
        insert into tl_boat
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="bModel != null">b_model,</if>
            <if test="bSpeed != null">b_speed,</if>
            <if test="bCapacity != null">b_capacity,</if>
            <if test="bWindSpeed != null">b_wind_speed,</if>
            <if test="bWaveHeight != null">b_wave_height,</if>
            <if test="bAnnualCost != null">b_annual_cost,</if>
            <if test="bHourCost != null">b_hour_cost,</if>
            <if test="bType != null">b_type,</if>
            <if test="bLongitude != null">b_longitude,</if>
            <if test="bLatitude != null">b_latitude,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="bModel != null">#{bModel},</if>
            <if test="bSpeed != null">#{bSpeed},</if>
            <if test="bCapacity != null">#{bCapacity},</if>
            <if test="bWindSpeed != null">#{bWindSpeed},</if>
            <if test="bWaveHeight != null">#{bWaveHeight},</if>
            <if test="bAnnualCost != null">#{bAnnualCost},</if>
            <if test="bHourCost != null">#{bHourCost},</if>
            <if test="bType != null">#{bType},</if>
            <if test="bLongitude != null">#{bLongitude},</if>
            <if test="bLatitude != null">#{bLatitude},</if>
         </trim>
    </insert>

    <update id="updateBoat" parameterType="Boat">
        update tl_boat
        <trim prefix="SET" suffixOverrides=",">
            <if test="bModel != null">b_model = #{bModel},</if>
            <if test="bSpeed != null">b_speed = #{bSpeed},</if>
            <if test="bCapacity != null">b_capacity = #{bCapacity},</if>
            <if test="bWindSpeed != null">b_wind_speed = #{bWindSpeed},</if>
            <if test="bWaveHeight != null">b_wave_height = #{bWaveHeight},</if>
            <if test="bAnnualCost != null">b_annual_cost = #{bAnnualCost},</if>
            <if test="bHourCost != null">b_hour_cost = #{bHourCost},</if>
            <if test="bType != null">b_type = #{bType},</if>
            <if test="bLongitude != null">b_longitude = #{bLongitude},</if>
            <if test="bLatitude != null">b_latitude = #{bLatitude},</if>
        </trim>
        where b_id = #{bId}
    </update>

    <delete id="deleteBoatByBId" parameterType="Long">
        delete from tl_boat where b_id = #{bId}
    </delete>

    <delete id="deleteBoatByBIds" parameterType="String">
        delete from tl_boat where b_id in 
        <foreach item="bId" collection="array" open="(" separator="," close=")">
            #{bId}
        </foreach>
    </delete>
</mapper>