<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.MaintainMapper">
    
    <resultMap type="Maintain" id="MaintainResult">
        <result property="mId"    column="m_id"    />
        <result property="mFrequencyPerYear"    column="m_frequency_per_year"    />
        <result property="mConsumableCost"    column="m_consumable_cost"    />
        <result property="mPrepareDuration"    column="m_prepare_duration"    />
        <result property="mMaintainDuration"    column="m_maintain_duration"    />
        <result property="mPeopleNumber"    column="m_people_number"    />
        <result property="mFaultType"    column="m_fault_type"    />
        <result property="mFaultDevice"    column="m_fault_device"    />
        <result property="mFaultfre"    column="m_faultfre"    />
    </resultMap>

    <sql id="selectMaintainVo">
        select m_id, m_frequency_per_year, m_consumable_cost,  m_prepare_duration, m_maintain_duration, m_people_number, m_fault_type, m_fault_device, m_faultfre from tl_maintain
    </sql>

    <select id="selectMaintainList" parameterType="Maintain" resultMap="MaintainResult">
        <include refid="selectMaintainVo"/>
        <where>  
            <if test="mPrepareDuration != null  and mPrepareDuration != ''"> and m_prepare_duration = #{mPrepareDuration}</if>
            <if test="mMaintainDuration != null  and mMaintainDuration != ''"> and m_maintain_duration = #{mMaintainDuration}</if>
            <if test="mFaultDevice != null  and mFaultDevice != ''"> and m_fault_device = #{mFaultDevice}</if>
            <if test="mFaultfre != null  and mFaultfre != ''"> and m_faultfre = #{mFaultfre}</if>
        </where>
    </select>
    
    <select id="selectMaintainByMId" parameterType="Long" resultMap="MaintainResult">
        <include refid="selectMaintainVo"/>
        where m_id = #{mId}
    </select>
        
    <insert id="insertMaintain" parameterType="Maintain">
        insert into tl_maintain
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="mId != null">m_id,</if>
            <if test="mFrequencyPerYear != null">m_frequency_per_year,</if>
            <if test="mConsumableCost != null">m_consumable_cost,</if>
            <if test="mPrepareDuration != null">m_prepare_duration,</if>
            <if test="mMaintainDuration != null">m_maintain_duration,</if>
            <if test="mPeopleNumber != null">m_people_number,</if>
            <if test="mFaultType != null">m_fault_type,</if>
            <if test="mFaultDevice != null">m_fault_device,</if>
            <if test="mFaultfre != null">m_faultfre,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="mId != null">#{mId},</if>
            <if test="mFrequencyPerYear != null">#{mFrequencyPerYear},</if>
            <if test="mConsumableCost != null">#{mConsumableCost},</if>
            <if test="mPrepareDuration != null">#{mPrepareDuration},</if>
            <if test="mMaintainDuration != null">#{mMaintainDuration},</if>
            <if test="mPeopleNumber != null">#{mPeopleNumber},</if>
            <if test="mFaultType != null">#{mFaultType},</if>
            <if test="mFaultDevice != null">#{mFaultDevice},</if>
            <if test="mFaultfre != null">#{mFaultfre},</if>
         </trim>
    </insert>

    <update id="updateMaintain" parameterType="Maintain">
        update tl_maintain
        <trim prefix="SET" suffixOverrides=",">
            <if test="mFrequencyPerYear != null">m_frequency_per_year = #{mFrequencyPerYear},</if>
            <if test="mConsumableCost != null">m_consumable_cost = #{mConsumableCost},</if>
            <if test="mPrepareDuration != null">m_prepare_duration = #{mPrepareDuration},</if>
            <if test="mMaintainDuration != null">m_maintain_duration = #{mMaintainDuration},</if>
            <if test="mPeopleNumber != null">m_people_number = #{mPeopleNumber},</if>
            <if test="mFaultType != null">m_fault_type = #{mFaultType},</if>
            <if test="mFaultDevice != null">m_fault_device = #{mFaultDevice},</if>
            <if test="mFaultfre != null">m_faultfre = #{mFaultfre},</if>
        </trim>
        where m_id = #{mId}
    </update>

    <delete id="deleteMaintainByMId" parameterType="Long">
        delete from tl_maintain where m_id = #{mId}
    </delete>

    <delete id="deleteMaintainByMIds" parameterType="String">
        delete from tl_maintain where m_id in 
        <foreach item="mId" collection="array" open="(" separator="," close=")">
            #{mId}
        </foreach>
    </delete>
</mapper>