<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.PersonMapper">
    
    <resultMap type="Person" id="PersonResult">
        <result property="id"    column="id"    />
        <result property="pWorkTime"    column="p_work_time"    />
        <result property="pSalary"    column="p_salary"    />
        <result property="pNum"    column="p_num"    />
        <result property="pState"    column="p_state"    />
    </resultMap>

    <sql id="selectPersonVo">
        select id, p_work_time, p_salary, p_num, p_state from tl_person
    </sql>

    <select id="selectPersonList" parameterType="Person" resultMap="PersonResult">
        <include refid="selectPersonVo"/>
        <where>  
            <if test="pNum != null "> and p_num = #{pNum}</if>
            <if test="pState != null "> and p_state = #{pState}</if>
        </where>
    </select>
    
    <select id="selectPersonById" parameterType="Long" resultMap="PersonResult">
        <include refid="selectPersonVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertPerson" parameterType="Person" useGeneratedKeys="true" keyProperty="id">
        insert into tl_person
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pWorkTime != null">p_work_time,</if>
            <if test="pSalary != null">p_salary,</if>
            <if test="pNum != null">p_num,</if>
            <if test="pState != null">p_state,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="pWorkTime != null">#{pWorkTime},</if>
            <if test="pSalary != null">#{pSalary},</if>
            <if test="pNum != null">#{pNum},</if>
            <if test="pState != null">#{pState},</if>
         </trim>
    </insert>

    <update id="updatePerson" parameterType="Person">
        update tl_person
        <trim prefix="SET" suffixOverrides=",">
            <if test="pWorkTime != null">p_work_time = #{pWorkTime},</if>
            <if test="pSalary != null">p_salary = #{pSalary},</if>
            <if test="pNum != null">p_num = #{pNum},</if>
            <if test="pState != null">p_state = #{pState},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletePersonById" parameterType="Long">
        delete from tl_person where id = #{id}
    </delete>

    <delete id="deletePersonByIds" parameterType="String">
        delete from tl_person where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>