<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.RandMapper">
    
    <resultMap type="Rand" id="RandResult">
        <result property="randId"    column="rand_id"    />
        <result property="rand"    column="rand"    />
    </resultMap>

    <sql id="selectRandVo">
        select rand_id, rand from tl_rand
    </sql>

    <select id="selectRandList" parameterType="Rand" resultMap="RandResult">
        <include refid="selectRandVo"/>
        <where>  
            <if test="rand != null "> and rand = #{rand}</if>
        </where>
    </select>
    
    <select id="selectRandByRandId" parameterType="Long" resultMap="RandResult">
        <include refid="selectRandVo"/>
        where rand_id = #{randId}
    </select>
        
    <insert id="insertRand" parameterType="Rand" useGeneratedKeys="true" keyProperty="randId">
        insert into tl_rand
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="rand != null">rand,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="rand != null">#{rand},</if>
         </trim>
    </insert>

    <update id="updateRand" parameterType="Rand">
        update tl_rand
        <trim prefix="SET" suffixOverrides=",">
            <if test="rand != null">rand = #{rand},</if>
        </trim>
        where rand_id = #{randId}
    </update>

    <delete id="deleteRandByRandId" parameterType="Long">
        delete from tl_rand where rand_id = #{randId}
    </delete>

    <delete id="deleteRandByRandIds" parameterType="String">
        delete from tl_rand where rand_id in 
        <foreach item="randId" collection="array" open="(" separator="," close=")">
            #{randId}
        </foreach>
    </delete>
</mapper>