<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.TaskPersonMapper">
    
    <resultMap type="TaskPerson" id="TaskPersonResult">
        <result property="pId"    column="p_id"    />
        <result property="taskId"    column="task_id"    />
        <result property="pWaitNum"    column="p_wait_num"    />
        <result property="pWorkNum"    column="p_work_num"    />
    </resultMap>

    <sql id="selectTaskPersonVo">
        select p_id, task_id, p_wait_num, p_work_num from tl_task_person
    </sql>

    <select id="selectTaskPersonList" parameterType="TaskPerson" resultMap="TaskPersonResult">
        <include refid="selectTaskPersonVo"/>
        <where>  
            <if test="taskId != null "> and task_id = #{taskId}</if>
            <if test="pWaitNum != null "> and p_wait_num = #{pWaitNum}</if>
            <if test="pWorkNum != null "> and p_work_num = #{pWorkNum}</if>
        </where>
    </select>
    
    <select id="selectTaskPersonByPId" parameterType="Long" resultMap="TaskPersonResult">
        <include refid="selectTaskPersonVo"/>
        where p_id = #{pId}
    </select>
        
    <insert id="insertTaskPerson" parameterType="TaskPerson">
        insert into tl_task_person
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pId != null">p_id,</if>
            <if test="taskId != null">task_id,</if>
            <if test="pWaitNum != null">p_wait_num,</if>
            <if test="pWorkNum != null">p_work_num,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="pId != null">#{pId},</if>
            <if test="taskId != null">#{taskId},</if>
            <if test="pWaitNum != null">#{pWaitNum},</if>
            <if test="pWorkNum != null">#{pWorkNum},</if>
         </trim>
    </insert>

    <update id="updateTaskPerson" parameterType="TaskPerson">
        update tl_task_person
        <trim prefix="SET" suffixOverrides=",">
            <if test="taskId != null">task_id = #{taskId},</if>
            <if test="pWaitNum != null">p_wait_num = #{pWaitNum},</if>
            <if test="pWorkNum != null">p_work_num = #{pWorkNum},</if>
        </trim>
        where p_id = #{pId}
    </update>

    <delete id="deleteTaskPersonByPId" parameterType="Long">
        delete from tl_task_person where p_id = #{pId}
    </delete>

    <delete id="deleteTaskPersonByPIds" parameterType="String">
        delete from tl_task_person where p_id in 
        <foreach item="pId" collection="array" open="(" separator="," close=")">
            #{pId}
        </foreach>
    </delete>
</mapper>