<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.TaskMapper">
    
    <resultMap type="Task" id="TaskResult">
        <result property="taskId"    column="task_id"    />
        <result property="taskName"    column="task_name"    />
        <result property="taskStartTime"    column="task_start_time"    />
        <result property="taskEndTime"    column="task_end_time"    />
        <result property="taskCreateTime"    column="task_create_time"    />
        <result property="taskCreateBy"    column="task_create_by"    />
    </resultMap>

    <sql id="selectTaskVo">
        select task_id, task_name, task_start_time, task_end_time, task_create_time, task_create_by from tl_task
    </sql>

    <select id="selectTaskList" parameterType="Task" resultMap="TaskResult">
        <include refid="selectTaskVo"/>
        <where>  
            <if test="taskName != null  and taskName != ''"> and task_name like concat('%', #{taskName}, '%')</if>
            <if test="taskStartTime != null "> and task_start_time = #{taskStartTime}</if>
            <if test="taskEndTime != null "> and task_end_time = #{taskEndTime}</if>
            <if test="taskCreateTime != null and taskCreateTime!=''"> and task_create_time = #{taskCreateTime}</if>
            <if test="taskCreateBy != null  and taskCreateBy != ''"> and task_create_by = #{taskCreateBy}</if>
        </where>
    </select>
    
    <select id="selectTaskByTaskId" parameterType="Long" resultMap="TaskResult">
        <include refid="selectTaskVo"/>
        where task_id = #{taskId}
    </select>
        
    <insert id="insertTask" parameterType="Task" useGeneratedKeys="true" keyProperty="taskId">
        insert into tl_task
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="taskName != null">task_name,</if>
            <if test="taskStartTime != null">task_start_time,</if>
            <if test="taskEndTime != null">task_end_time,</if>
            <if test="taskCreateTime != null">task_create_time,</if>
            <if test="taskCreateBy != null">task_create_by,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="taskName != null">#{taskName},</if>
            <if test="taskStartTime != null">#{taskStartTime},</if>
            <if test="taskEndTime != null">#{taskEndTime},</if>
            <if test="taskCreateTime != null">#{taskCreateTime},</if>
            <if test="taskCreateBy != null">#{taskCreateBy},</if>
         </trim>
    </insert>

    <update id="updateTask" parameterType="Task">
        update tl_task
        <trim prefix="SET" suffixOverrides=",">
            <if test="taskName != null">task_name = #{taskName},</if>
            <if test="taskStartTime != null">task_start_time = #{taskStartTime},</if>
            <if test="taskEndTime != null">task_end_time = #{taskEndTime},</if>
            <if test="taskCreateTime != null">task_create_time = #{taskCreateTime},</if>
            <if test="taskCreateBy != null">task_create_by = #{taskCreateBy},</if>
        </trim>
        where task_id = #{taskId}
    </update>

    <delete id="deleteTaskByTaskId" parameterType="Long">
        delete from tl_task where task_id = #{taskId}
    </delete>

    <delete id="deleteTaskByTaskIds" parameterType="String">
        delete from tl_task where task_id in 
        <foreach item="taskId" collection="array" open="(" separator="," close=")">
            #{taskId}
        </foreach>
    </delete>
</mapper>