<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.TurbineFaultMapper">
    
    <resultMap type="TurbineFault" id="TurbineFaultResult">
        <result property="tId"    column="t_id"    />
        <result property="fId"    column="f_id"    />
    </resultMap>

    <sql id="selectTurbineFaultVo">
        select t_id, f_id from tl_turbine_fault
    </sql>

    <select id="selectTurbineFaultList" parameterType="TurbineFault" resultMap="TurbineFaultResult">
        <include refid="selectTurbineFaultVo"/>
        <where>  
        </where>
    </select>
    
    <select id="selectTurbineFaultByTId" parameterType="Long" resultMap="TurbineFaultResult">
        <include refid="selectTurbineFaultVo"/>
        where t_id = #{tId}
    </select>
        
    <insert id="insertTurbineFault" parameterType="TurbineFault">
        insert into tl_turbine_fault
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="tId != null">t_id,</if>
            <if test="fId != null">f_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="tId != null">#{tId},</if>
            <if test="fId != null">#{fId},</if>
         </trim>
    </insert>

    <update id="updateTurbineFault" parameterType="TurbineFault">
        update tl_turbine_fault
        <trim prefix="SET" suffixOverrides=",">
            <if test="fId != null">f_id = #{fId},</if>
        </trim>
        where t_id = #{tId}
    </update>

    <delete id="deleteTurbineFaultByTId" parameterType="Long">
        delete from tl_turbine_fault where t_id = #{tId}
    </delete>

    <delete id="deleteTurbineFaultByTIds" parameterType="String">
        delete from tl_turbine_fault where t_id in 
        <foreach item="tId" collection="array" open="(" separator="," close=")">
            #{tId}
        </foreach>
    </delete>
</mapper>