<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.TurbineMaintainMapper">
    
    <resultMap type="TurbineMaintain" id="TurbineMaintainResult">
        <result property="tId"    column="t_id"    />
        <result property="mId"    column="m_id"    />
    </resultMap>

    <sql id="selectTurbineMaintainVo">
        select t_id, m_id from tl_turbine_maintain
    </sql>

    <select id="selectTurbineMaintainList" parameterType="TurbineMaintain" resultMap="TurbineMaintainResult">
        <include refid="selectTurbineMaintainVo"/>
        <where>  
        </where>
    </select>
    
    <select id="selectTurbineMaintainByTId" parameterType="Long" resultMap="TurbineMaintainResult">
        <include refid="selectTurbineMaintainVo"/>
        where t_id = #{tId}
    </select>
        
    <insert id="insertTurbineMaintain" parameterType="TurbineMaintain">
        insert into tl_turbine_maintain
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="tId != null">t_id,</if>
            <if test="mId != null">m_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="tId != null">#{tId},</if>
            <if test="mId != null">#{mId},</if>
         </trim>
    </insert>

    <update id="updateTurbineMaintain" parameterType="TurbineMaintain">
        update tl_turbine_maintain
        <trim prefix="SET" suffixOverrides=",">
            <if test="mId != null">m_id = #{mId},</if>
        </trim>
        where t_id = #{tId}
    </update>

    <delete id="deleteTurbineMaintainByTId" parameterType="Long">
        delete from tl_turbine_maintain where t_id = #{tId}
    </delete>

    <delete id="deleteTurbineMaintainByTIds" parameterType="String">
        delete from tl_turbine_maintain where t_id in 
        <foreach item="tId" collection="array" open="(" separator="," close=")">
            #{tId}
        </foreach>
    </delete>
</mapper>